{% extends "import/base-import.html" %}
{% load utils %}

{% block import_content %}
{% if object_list%}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Processi</th>
        <th>Stato</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for import in object_list %}
      <tr class="{% get_style_class import.status %}">
        <td>{{ import.uuid }}</td>
        <td class="text-lowercase">{{ import.status }}</td>
        <td>
          <i class="{% get_status_icon import.status %}"></i>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="container mt-5">
  <form method="post" action="{% url 'queue-import-view' %}" class="mt-5">
    {% csrf_token %}
    <div class="form-group mt-5">
      <select class="form-control form-control-lg">
        {% for file in geopackage_files %}
        <option>{{ file }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2 btn-block">AVVIA</button>
  </form>
</div>
{% endif %}
{% endblock %}