{% extends "import/base-import.html" %}

{% block import_content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Iniziato alle</th>
        <th>Completato alle</th>
        <th>Iniziato da</th>
        <th>file elaborato</th>
        <th>stato di completamento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>     
      <tr>
        <td>17/05/2020</td>
        <td>18/05/2020</td>
        <td>Josh</td>
        <td>XYZ.gpkg</td>
        <td>60 tabelle importate</td>
        <td>Icon</td>
      </tr>
      <tr>
        <td>17/05/2020</td>
        <td>18/05/2020</td>
        <td>Messi</td>
        <td>XYZ.gpkg</td>
        <td>60 tabelle importate</td>
        <td>Icon</td>
      </tr>
      <tr>
        <td>17/05/2020</td>
        <td>18/05/2020</td>
        <td>Dybala</td>
        <td>XYZ.gpkg</td>
        <td>60 tabelle importate</td>
        <td>Icon</td>
      </tr>
      <tr>
        <td>17/05/2020</td>
        <td>18/05/2020</td>
        <td>Zlatan</td>
        <td>XYZ.gpkg</td>
        <td>60 tabelle importate</td>
        <td>Icon</td>
      </tr>
      <tr>
        <td>17/05/2020</td>
        <td>18/05/2020</td>
        <td>Mario Balotelli</td>
        <td>XYZ.gpkg</td>
        <td>60 tabelle importate</td>
        <td>Icon</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}