{% extends "import/base-import.html" %}
{% load utils %}

{% block import_content %}
<div class="container">
  <br>
  <table class="table display" id="history-import-table">
    <thead>
      <tr>
        <th>Iniziato alle</th>
        <th>Completato alle</th>
        <th>Avviato da</th>
        <th>GPKG elaborato</th>
        <th style="text-align:center;">Stato</th>
      </tr>
    </thead>
    <tbody id="import-history-table">
      {% for import in object_list %}
      <tr>
        <td>{{ import.end_date | date:"d/m/Y - H:i:s" }}</td>
        <td>{{ import.start_date | date:"d/m/Y - H:i:s" }}</td>
        <td>{{ import.requesting_user }}</td>
        <td>{{ import.geopackage }}</td>
        <td style="text-align:center;">
          <a href="#" onclick="display_error_log('{{import.task_log|escapejs}}', '{{import.status}}')" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="{% get_status_icon import.status %}"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="importHistoryModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="task-log">
          <div class="text-center text-secondary">
            <small>please wait...</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#history-import-table').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
        },
        "order": [[ 0, "desc" ]]
    } );
} );
</script>

{% endblock %}