{% extends "freeze/base-freeze.html" %}
{% load utils %}

{% block freeze_content %}
{% if object_list%}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Processi</th>
        <th>Avanzamento</th>
        <th>Stato</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="freeze-status-table">
      <tr>
        <td colspan="3" class="text-center">
          <small class="text-secondary">Attendere...</small>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" id="dt-freeze-table">
    <thead>
      <tr>
          <th>Layer</th>
          <th>Inizio</th>
          <th>Fine</th>
          <th>Status</th>
        </tr>
    </thead>
     <tbody id="layer-freeze-table">
      <tr>
        <td class="text-center">
          <small class="text-secondary">Attendere...</small>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  window.addEventListener("load", function () {
    ajax_call("{% url 'get-freeze-status-api-view' %}", "#freeze-status-table");
    setInterval(function () { ajax_call("{% url 'get-freeze-status-api-view' %}", "#freeze-status-table") }, 5000);
  });
</script>
<script>
  window.addEventListener("load", function () {
    setInterval(function () {
      var url = "{% url 'get-single-freeze-status-api-view' %}" + "?task_id=";
      var taskId = $("#freeze-status-table #task_uuid").text();
      ajax_call(url + taskId, "#layer-freeze-table")
      }, 5000
    );
  });
</script>
<script>
  $(document).ready(function() {
    $('#dt-freeze-table').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
        },
        "order": [[ 1, "desc" ]]
    } );
} );
</script>
{% else %}
<div class="container mt-5 table-responsive">
  <form method="post" action="{% url 'queue-freeze-view' %}" class="mt-5">
    {% csrf_token %}
    <table class="table-sm form-group mx-auto w-auto">
      <thead>
        <tr>
            <th>Anno</th>
            <th>
              <select name="selected-year" class="form-control md">
              {% for year in years_available %}
                {% if year == current_year %}
                <option selected value="{{ year }}">{{ year }}</option>
                {% else %}
                <option value="{{ year }}">{{ year }}</option>
                {% endif %}
              {% endfor %}
              </select>
            </th>
          </tr>
      </thead>
       <tbody>
        <tr>
          <td class="text-center">
            <b>Notes</b>
          </td>
          <td>
             <textarea name="freeze-notes" class="form-control md" rows="4" cols="50" placeholder="Inserire qui le note da associare al freeze"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-info mb-2 col-sm-5 btn-block mx-auto w-auto">AVVIA</button>
  </form>
</div>
{% endif %}
{% endblock %}