{% extends "base.html" %}

{% block content %}
{% if request.user.is_superuser and FREEZE_FEATURE_TOGGLE %}
    <div class="container">
        <div class="tab">
            <a href="{% url 'freeze-view' %}" class="tablinks{% if current_url == 'freeze-view'%} active{% endif %}">Corrente</a>
            <a href="{% url 'historical-freeze-view' %}" class="tablinks{% if current_url == 'historical-freeze-view'%} active{% endif %}">Storico</a>
        </div>
    </div>
    {% block freeze_content %}
        {# content of the running/current freeze#}
    {% endblock %}
{% else %}
{% include "errors/denied.html" %}
{% endif %}
{% endblock %}
