{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="get" class="form-inline">
        {% csrf_token %}
        <div class="form-group mb-2">
          <label for="Anno di competenza" class="sr-only">Anno di competenza:</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="Note regolatorie" class="sr-only">Note regolatorie:</label>
          <input type="text" class="form-control" placeholder="Note regolatorie">
        </div>
        <button type="submit" class="btn btn-primary mb-2">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
      </form>
    <table class="table">
        <thead>
          <tr>
            <th>Utente</th>
            <th>Anno di competenza</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Esito</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>     
          <tr>
            <td>Messi</td>
            <td>18/05/2020</td>
            <td>Josh</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Dybala</td>
            <td>2020</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Dybala</td>
            <td>2020</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Zlatan</td>
            <td>2020</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Mario Balotelli</td>
            <td>2020</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}