{% extends "base.html" %}

{% block content %}
<div >
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <table class="table">
        <tbody>     
          <tr class="info table-item">
            <td>
                <i class="glyphicon glyphicon-cog"></i>
            </td>
            <td>Alg Archivio Pompe</td>
            <td>
                <i class="glyphicon glyphicon-play"></i>
            </td>
          </tr>
          <tr class="table-item">
            <td>
                <i class="glyphicon glyphicon-cog"></i>
            </td>
            <td>Alg Archivio Pompe</td>
            <td>
                <i class="glyphicon glyphicon-play"></i>
            </td>
          </tr>
          <tr class="table-item">
            <td>
                <i class="glyphicon glyphicon-cog"></i>
            </td>
            <td>Alg Archivio Pompe</td>
            <td>
                <i class="glyphicon glyphicon-play"></i>
            </td>
          </tr>
          <tr class="table-item">
            <td>
                <i class="glyphicon glyphicon-cog"></i>
            </td>
            <td>Alg Archivio Pompe</td>
            <td>
                <i class="glyphicon glyphicon-play"></i>
            </td>
          </tr>
          <tr class="table-item">
            <td>
                <i class="glyphicon glyphicon-cog"></i>
            </td>
            <td>Alg Archivio Pompe</td>
            <td>
                <i class="glyphicon glyphicon-play"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Utente</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>GeoPakage</th>
            <th>Esito</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody>     
          <tr>
            <td>Messi</td>
            <td>A.gpkg</td>
            <td>Josh</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Dybala</td>
            <td>A.gpkg</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Dybala</td>
            <td>A.gpkg</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
          <tr>
            <td>Zlatan</td>
            <td>A.gpkg</td>
            <td>12/10/2020 10:00</td>
            <td>12/10/2020 10:00</td>
            <td>60 tabelle importate</td>
            <td>Icon</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}