{% extends "base.html" %}

{% block content %}
<div>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <table class="table">
        <tbody>
          {% for process_name, process_class in processes.items %}
          <tr class="info table-item {% if process_name == active_process %}table-warning{% endif %}">
            <td>
              <i class="fas fa-cog"></i>
            </td>
            <td>
              <a href="{% url 'process-view' %}?process_name={{ process_name | urlencode }}"
                 class="dbiait-strecthed-link">{{ process_name }}
              </a>
            </td>
            <td>
              <form method="POST" action="{% url 'queue-process-view' %}">
                {% csrf_token %}
                <input name="process_name" type="hidden" value="{{ process_name }}" />
                <button type="submit" class="btn btn-info">
                  <i class="fas fa-play"></i>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Utente</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Esito</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody id="process-status-table">
          {% for process_history in process_history_queryset %}
          <tr class="{{ process_history.style_class }}">
            <td>{{ process_history.requesting_user }}</td>
            <td>{{ process_history.start_date|default_if_none:"--/--/----" }}</td>
            <td>{{ process_history.end_date|default_if_none:"--/--/----" }}</td>
            <td class="text-lowercase">{{ process_history.status }}</td>
            <td>
              <i class="{{ process_history.status_icon }}"></i>
            </td>
            <td class="text-lowercase">
              <a href="#">
                <span class="badge badge-light text-info">
                  <i class="fas fa-info-circle"></i>
                  {{ process_history.task.status }}
                </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        {{ error }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">va bene</button>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="task-log">
          <div class="text-center text-secondary">
            <small>please wait...</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  window.addEventListener("load", function () {
    ajax_call("{% url 'get-process-status-api-view' %}?process_name={{ active_process | urlencode }}", "#process-status-table");
    setInterval(function () { ajax_call("{% url 'get-process-status-api-view' %}?process_name={{ active_process | urlencode }}", "#process-status-table") }, 10000);
    $('#error-modal').modal('show');
  });
</script>
{% endblock %}