{% extends "base.html" %}
{% load utils %}

{% block content %}
<div class="container">
  <form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="form-group mx-sm-3 mb-2">
      <label for="Ambiente" class="mx-sm-2 " id="ambiente">Ambiente: </label>
      <select name="export-schema" id="export-schema" class="form-control">
        <option value="{{ schemas.analysis }}" selected="selected">Analisi</option>
        <option value="{{ schemas.freeze }}">Storicizzazione</option>
      </select>
      <select name="freeze-year" id="freeze-year" class="form-control">
          <label for="anno-rif" class="mx-sm-2" id="anno-rif">Anno</label>
          <option selected value="None">Anno di riferimento</option>
          {% for year in years_available %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group mb-2">
      <button type="submit" class="btn btn-info">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </form>
  {% block export_content%}
  <table class="table" id="export-table">
    <thead>
      <tr>
        <th>Utente</th>
        <th>GeoPackage</th>
        <th>Data Inizio</th>
        <th>Data Fine</th>
        <th>Esito</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody id="export-status-table">
      {% for export in object_list %}
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="importHistoryModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="task-log">
          <div class="text-center text-secondary">
            <small>please wait...</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if error %}
<div class="modal fade in" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        {{ error }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">va bene</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        $("#error-modal").modal('show');
    });
</script>
{% endif %}
<script>
  $(document).ready(function() {
    $('#export-table').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
        },
        "order": [[ 2, "desc" ]]
    } );
} );
</script>
<script>
  $('#freeze-year').hide();
  $('#export-schema').change(function(){
      console.log($('#export-schema').val());
      if($('#export-schema').val() == 'dbiait_freeze') {
          $('#freeze-year').show();
      } else {
          $('#freeze-year').hide();
      }
  });
</script>
<script>
  window.addEventListener("load", function () {
    ajax_call("{% url 'get-export-status-api-view' %}", "#export-status-table");
    setInterval(function () { ajax_call("{% url 'get-export-status-api-view' %}", "#export-status-table") }, 15000);
  });
</script>
<script>
//clear form values
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}
{% endblock %}